* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

h1 {
  margin: 15px;
  padding: 15px;
}

body {
  font: 20px 'verdana', sans-serif;
  color: #555;
}

ul {
  list-style: none;
  max-width: 300px;
}

nav {
  width: 100%;
  background-color: #383737;
}

ul a {
  display: block;
  padding: 20px;
  font-weight: bold;
  text-align: center;
  color: #f7f0ef;
  text-decoration: none;
}

ul a:hover {
  color: #383737;
  background: #6ce348;
}

nav li {
  border-right: 1px solid #ddd;
}

.dropdown-content {
  display: none;
  background-color: #5e5d5d;
}

.show {
  display: block;
}

/*Use position: absolute to place stuff in same section of header*/

/*REMOVE THESE WHEN WORKING ON FULL SITE*/
#greenlight:hover {
  background-color: #6ce348;
}

#stopcode:hover {
  background-color: red;
}
