<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="Style.css">
  <title>Double Digits</title>
</head>
<body>
  <nav>
    <ul>
      <li class="option">
        <a class="label" onclick="toggleMenu(locationsLabel)" href="Home.html">Home</a>
        <div class="dropdown-content" id="homeLabel">
          <a href="#">Darwin</a>
          <a href="#">Palmerston</a>
          <a href="#">Katherine</a>
        </div>
      </li>

      <li class="option">
        <a class="label" onclick="toggleMenu(locationsLabel)" href="Important_Information.html">Important Information</a>
        <div class="dropdown-content" id="importantinformationLabel">
          <a href="#">Darwin</a>
          <a href="#">Palmerston</a>
          <a href="#">Katherine</a>
        </div>
      </li>

      <li class="option">
        <a class="label" onclick="toggleMenu(locationsLabel)" href="Student_Events.html">Student Events</a>
        <div class="dropdown-content" id="studenteventsLabel">
          <a href="#">Darwin</a>
          <a href="#">Palmerston</a>
          <a href="#">Katherine</a>
        </div>
      </li>
    </ul>
  </nav>

  <script src="main.js"></script>
</body>
</html>
